<!DOCTYPE html>
<html>
    <body>
        <h1>Updating the Current User.</h1>
        <form action="updaterecord/{{mychild.id}}" method="post">
            {% csrf_token %}
            <h3>First Name :</h3> <input name="first" value="{{mychild.firstName}}"/><br>
            <h3>Last Name : </h3> <input name="last" value="{{mychild.lastName}}"/><br>
            <h3>Email Id : </h3> <input name="email" value="{{mychild.email}}"/><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>